site_name: MindMate Documentation

theme:
    name: material

markdown_extensions:
    - admonition
    - attr_list
    - pymdownx.emoji:
          emoji_index: !!python/name:material.extensions.emoji.twemoji
          emoji_generator: !!python/name:material.extensions.emoji.to_svg
    - def_list
    - footnotes
    - md_in_html
    - pymdownx.details
    - pymdownx.tasklist:
          custom_checkbox: true
    - pymdownx.superfences:
          custom_fences:
              - name: mermaid
                class: mermaid
                format: !!python/name:pymdownx.superfences.fence_code_format

plugins:
    - search

nav:
    - 소개: index.md
    - 프로젝트 개요:
          - 전체 개요: overview/overview.md
          - 핵심 기능 요약: overview/features.md
          - 구현 기능: overview/my-part.md
    - 아키텍처:
          - 시스템 구조: overview/architecture.md

    - 회원 관리 · 인증:
          - 인증 시스템 (JWT + Refresh + Redis): member/auth-system.md

    - 프론트엔드:
          - 기술 스택 & 폴더 구조: frontend/stack-structure.md
          - 주요 화면 플로우: frontend/screens-flow.md
          - 상태 관리 & API 연동: frontend/api-integration.md
    - 인프라 & 배포:
          - Docker & Docker Compose: infra/docker.md
          - AWS EC2 & 배포 플로우: infra/deployment.md
          - 도메인, Nginx, SSL: infra/domain-nginx-ssl.md
